{% extends '_base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
{% endblock %}

{% block body %}
    <div class="help_page">
        <div class="cm_banner">
            <span class="title1">
                <h6>Conseils & Astuces</h6>
            </span>

            <span class="title2">
                <h2>Comment organiser un vide-grenier ou brocantes ?</h2>
            </span>
        </div>

        <br/>

        <div class="cm_supp_infos">
            <p>Vous souhaitez organiser un vide-greniers ou une brocante mais vous
                ne savez pas par où commencer ? Cet article va vous donner les
                clés pour organiser votre événement en toute sérénité et dans la bonne humeur !
            </p>
        </div>

        <div class="cm_content">
            <div class="cm_m_title">
                <h3>1. Choisir une date</h3>
            </div>

            <div class="cm_m_content">
                <ol>
                    <li>Prévoyez large, au minimum deux ou trois mois à l’avance.
                        Cela vous laissera du temps pour vous organiser, faire parler de
                        votre événement et ainsi avoir un maximum d’exposants et de
                        visiteurs le jour J.
                        <br/>
                        <br/>
                    </li>

                    <li>Même si cela peut paraître trivial, prenez le temps de regarder
                        un calendrier… Un vide-greniers qui a lieu un jour férié et sous
                        un ciel clément sera toujours plus attractif. Le mois de mai
                        est le mois de l’année où se déroulent le plus de vide-greniers
                        et de brocantes. Le mois de septembre peut également être un choix
                        pertinent. Il fait encore beau et la rentrée nous pousse à vouloir
                        continuer à flâner comme si nous étions encore en vacances.
                        <br/>
                        <br/>
                    </li>

                    <li>Etudiez la concurrence. Evitez de choisir LE jour où se déroule
                        l’incontournable vide-greniers annuel du département. Vous risquez
                        de vous faire siphonner vos chineurs avant même d’avoir vu le
                        bout de leur nez !
                        <br/>
                        <br/>
                    </li>

                    <li>Enfin, privilégiez si possible le dimanche ou le samedi,
                        plus attractifs pour les visiteurs.
                        <br/>
                        <br/>
                    </li>
                </ol>
            </div>

            <div class="cm_m_title">
                <div class="cm_m_title">
                    <h3>2. Choisir un lieu </h3>
                </div>

                <div class="cm_m_content">
                    <p>Vous pouvez choisir d’organiser votre événement dans votre commune, ou dans un village
                        avoisinant.
                        N’oubliez pas que l’activité préférée du chineur est… de se balader.
                    </p>

                    <p>
                        Vous pouvez choisir d’organiser votre manifestation sur la voie publique,
                        dans un local ou une salle des fêtes
                        (vous perdez l’avantage du plein air, mais vous vous prémunirez des aléas du temps).
                    </p>
                </div>
            </div>

            <br/>

            <div class="cm_m_title">
                <div class="cm_m_title">
                    <h3>3. Déclarer votre vide-greniers en mairie </h3>
                </div>

                <div class="cm_m_content">
                    <p>
                        Organiser un joyeux bazar nécessite quelques autorisations.
                        Vous devez tout d’abord déclarer votre événement en mairie en
                        remplissant une
                        <a href="https://www.formulaires.modernisation.gouv.fr/gf/showFormulaireSignaletiqueConsulter.do?numCerfa=13939"
                           target="_blank">Déclaration préalable d'une vente au déballage</a> (Cerfa n°13939*01).
                    </p>

                    <p>
                        Vous pouvez envoyer cette déclaration par lettre recommandée
                        avec accusé de réception ou la déposer directement
                        en mairie contre récépissé accusant réception. Cette étape est <strong>obligatoire</strong>,
                        et si vous ne la remplissez pas vous vous exposez à une amende de 15 000 €.
                    </p>
                </div>
            </div>

            <br/>

            <div class="cm_m_title">
                <div class="cm_m_title">
                    <h3>4. Effectuer une demande d’occupation temporaire du domaine public</h3>
                </div>

                <div class="cm_m_content">
                    <p>
                        Si vous occupez la voie publique il vous faudra faire en parallèle une
                        <a href="https://www.service-public.fr/associations/vosdroits/R2237" target="_blank">Demande
                            d'autorisation d'occupation temporaire du domaine public</a>
                        en mairie (ou en préfecture si votre événement se déroule à Paris).
                    </p>

                    <p>
                        Cette demande doit être déposée au moins 3 jours ouvrés avant l’événement
                        (2 mois avant pour les vide-greniers et brocantes ayant lieu à Paris).
                    </p>
                </div>
            </div>

            <br/>

            <div class="cm_m_title">
                <div class="cm_m_title">
                    <h3>5. Tenir un registre des vendeurs </h3>
                </div>

                <div class="cm_m_content">
                    <p>
                        L’organisateur se doit de tenir un registre. Les modèles obligatoires sont disponibles <a
                                href="https://www.service-public.fr/associations/vosdroits/R18906"
                                target="_blank">ici</a>. Pour faire simple,
                        le registre permet de répertorier le nom, l’adresse, la dénomination et les références de pièce
                        d’identité de chaque exposant.
                    </p>

                    <p>
                        A la fin de votre événement, il ne vous restera plus qu’à le déposer dans les 8 jours à la
                        préfecture dont dépend votre mairie. Attention,
                        l’absence de registre ou le refus de le présenter peut vous valoir une amende allant jusqu’à 30
                        000 €. Cher pour déballer !
                    </p>
                </div>
            </div>

            <br/>

            <div class="cm_m_title">
                <div class="cm_m_title">
                    <h3>6. Faire signer une attestation pour les exposants particuliers</h3>
                </div>

                <div class="cm_m_content">
                    <p>
                        Si certains de vos exposants sont des particuliers, ils doivent être inscrits au registre et
                        avoir signé une
                        <a href="https://www.service-public.fr/associations/vosdroits/R10959" target="_blank">attestation
                            sur l’honneur
                            de non-participation à deux autres manifestations de même nature</a> remise par vos soins.
                        Eh oui, l’Etat ne souhaite pas favoriser, à l’ombre des dimanches ensoleillés, le travail
                        déguisé.
                    </p>

                    <p>
                        Par ailleurs, n’oubliez pas que les particuliers ne peuvent vendre que des objets usagés par
                        leurs soins, ceux de leurs bambins,
                        ou de leurs grands-parents… En conséquence méfiez-vous des contrefaçons !
                    </p>
                </div>
            </div>

            <br/>

            <div class="cm_m_title">
                <div class="cm_m_title">
                    <h3>7. Etablir un plan</h3>
                </div>

                <div class="cm_m_content">
                    <p>
                        Une fois toutes les démarches établies, munissez-vous de votre plus beau crayon et d’un plan de
                        la commune ou du lieu de votre événement.
                    </p>

                    <p>
                        Anticipez la disposition de vos futurs exposants en découpant le lieu en emplacement. Cela vous
                        permettra de connaître votre nombre d’exposants maximum,
                        de gérer la circulation du public et de ne pas être pris au dépourvu quand à 6h du matin les
                        vendeurs arriveront, fourgonnette en tête, pour décharger leurs trésors.
                    </p>

                    <p>
                        Pensez à prévoir des emplacements de différentes tailles. Un brocanteur spécialisé dans les
                        meubles prendra a priori plus de place qu’un numismate ou qu’un bouquiniste !
                    </p>
                </div>
            </div>

            <br/>

            <div class="cm_m_title">
                <div class="cm_m_title">
                    <h3>8. Annoncer votre vide-greniers ou votre brocante </h3>
                </div>

                <div class="cm_m_content">
                    <p>
                        Annoncez votre événement largement en avance. Notre site <a href="{{ path('accueil') }}"
                                                                                    target="_blank">B'Broc</a> vous
                        permettra de le faire gratuitement et simplement.
                        Rappelez-vous : plus vos informations seront complètes, plus votre événement sera attractif !
                    </p>

                    <p>
                        Si vous avez pris soin de laisser vos coordonnées d’organisateur, de nombreuses exposants vous
                        contacterons pour réserver un emplacement.
                        Vous pourrez ainsi gérer votre taux de remplissage au fur et à mesure.
                    </p>
                </div>
            </div>

            <br/>

            <div class="cm_m_title">
                <div class="cm_m_title">
                    <h3>9. Créer une affiche</h3>
                </div>

                <div class="cm_m_content">
                    <p>
                        Annoncer son événement c’est aussi créer une affiche.
                        Elle vous permettra de synthétiser toutes les informations utiles concernant votre vide-greniers
                        ou votre brocante : date, horaires,
                        adresse, nom de l’organisateur, coordonnées, animations éventuelles, nombre d’exposants….
                    </p>

                    <p>
                        Par ailleurs, l’affiche vous servira d’accroche le jour J pour guider les visiteurs jusqu’au
                        lieu de la manifestation.
                        A l’entrée du village, à chaque changement de direction...
                    </p>
                </div>
            </div>

            <br/>

            <div class="cm_m_title">
                <div class="cm_m_title">
                    <h3>10. Fixer un tarif pour les exposants </h3>
                </div>

                <div class="cm_m_content">
                    <p>
                        Il n’y a pas de règle en la matière. Tout dépend de la taille de votre événement, des prix
                        pratiqués dans la région et du nombre de visiteurs prévu.
                        Une table et des chaises fournies vaudront plus qu’un emplacement libre.
                    </p>

                    <p>
                        Établissez un barème simple : par exemple : 2 € le mètre linéaire, 4 € la table de 1m50 et 2 €
                        par table supplémentaire.
                        Pour information, certains organisateurs prévoient aussi un barème avec ou sans véhicule, à la
                        manière des marchés hebdomadaires.
                    </p>
                </div>
            </div>

            <br/>

            <div class="cm_m_title">
                <div class="cm_m_title">
                    <h3>11. Faut-il fixer un prix d’entrée pour les visiteurs ?</h3>
                </div>

                <div class="cm_m_content">
                    <p>
                        Libre à vous de fixer un prix d’entrée. Mais attention, de nombreux chineurs rechignent à se
                        rendre sur un vide-greniers ou une brocante payante !
                        Dussent-ils payer 50 cents d’euros.
                    </p>

                    <p>
                        Les événements aux entrées payantes doivent selon nous justifier leur prix avec, par exemple,
                        une grande animation en marge de la manifestation.
                    </p>
                </div>
            </div>

            <br/>

            <div class="cm_m_title">
                <div class="cm_m_title">
                    <h3>12. Prévoir une buvette </h3>
                </div>

                <div class="cm_m_content">
                    <p>
                        Ne négligez pas ce point. Avoir la possibilité de prendre un café ou de se restaurer c’est
                        donner de la convivialité à votre événement.
                        Les visiteurs resteront plus longtemps et les vendeurs pourront se relaxer. Rappelez-vous que
                        pour certains la journée aura commencé vers 5h ou 6h.
                    </p>

                    <p>
                        Nous vous invitons également à offrir le café de bienvenue à vos exposants. L’occasion de
                        discuter avec eux et de partager votre passion.
                    </p>
                </div>
            </div>

            <br/>

            <div class="cm_m_title">
                <div class="cm_m_title">
                    <h3>13. Respecter le domaine public </h3>
                </div>

                <div class="cm_m_content">
                    <p>
                        Savoir organiser un déballage, c’est aussi savoir donner un bon coup de ballet ! Laissez
                        toujours votre lieu aussi propre qu’à votre arrivée.
                    </p>

                    <p>
                        Sensibilisez vos exposants au respect des installations publiques qui vous ont été confiées. Au
                        delà de l’aspect citoyen, cela facilitera
                        grandement vos futures démarches auprès de la mairie !
                    </p>
                </div>
            </div>

            <br/>

            <div class="cm_m_title">
                <div class="cm_m_title">
                    <h3>14. Fiscalité d’un vide-greniers </h3>
                </div>

                <div class="cm_m_content">
                    <p>
                        Si vous dégagez un bénéfice, plusieurs types de fiscalité existent en fonction de votre activité
                        :
                    </p>

                    <ol>
                        <li>
                            Si vous êtes une association qui n’a pas pour objet d’organiser des vide-greniers ou des
                            brocantes
                            (association de parents d’élèves par exemple) vous êtes exonérés d’impôts. Vous ne devez
                            cependant pas organiser plus de 6 manifestations de ce type par an.
                            <br/>
                            <br/>
                        </li>

                        <li>
                            Si vous êtes une association qui a pour objet d’organiser des vide-greniers, vous êtes
                            exonérés si
                            vos recettes cumulées ne dépassent pas 61 634 € sur l’année.
                            <br/>
                            <br/>
                        </li>

                        <li>
                            Enfin, si vous êtes une société organisatrice, vous êtes soumis à l’impôt sur les bénéfices
                            commerciaux ainsi qu’à la déclaration de la TVA, comme toute société.
                            <br/>
                            <br/>
                        </li>
                    </ol>

                    <br/>

                    <p>
                        Pour une information administrative complète, nous vous invitons à vous rendre sur : <a
                                href="https://www.service-public.fr/associations/vosdroits/F1813" target="_blank">https://www.service-public.fr/associations/vosdroits/F1813</a>.
                    </p>

                    <p class="cm_end_block">
                        Il ne nous reste plus qu’à vous souhaiter un soleil radieux, des centaines d’exposants et des
                        visiteurs par milliers !
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
