{% extends '_base.html.twig' %}

{% block body %}
    <div class="help_page">
        <div class="cm_banner">
            <span class="title1">
                <h6>Conseils & Astuces</h6>
            </span>

            <span class="title2">
                <h2>Quelle différence entre brocante, vide-greniers, bourse, et autre grafiterias ?</h2>
            </span>
        </div>

        <br/>

        <div class="cm_supp_infos">
            <p>Pris d’une nostalgie débordante, vous rêvez d’acheter un objet du passé.
                Mais où aller et pour y trouver quoi ? Dans une brocante ou dans un vide-greniers ?
                Dans une bourse ou dans une foire ? Dans une réderie ou dans un salon d’antiquaires ?
                Petit lexique à l’attention des chineurs novices ou expérimentés.
            </p>
        </div>

        <div class="cm_content">
            <div class="cm_m_title">
                <h3>1. Brocante </h3>
            </div>

            <div class="cm_m_content">
                <p>
                    Dans une brocante, les exposants sont des <strong>professionnels</strong>. On y trouve donc des
                    objets de plus
                    grande valeur que dans les vide-greniers. Le brocanteur vend des meubles, des objets du quotidien :
                    lampes, vaisselle,
                    linges de maison, vieux outils, livres, revues, cartes postales, et autres collections… Bref toutes
                    les pépites des années 1920 aux années 2000 !
                </p>
            </div>

            <div class="cm_m_title">
                <div class="cm_m_title">
                    <h3>2. Vide-greniers </h3>
                </div>

                <div class="cm_m_content">
                    <p>
                        A contrario, un vide-greniers est un événement où les exposants sont essentiellement des
                        <strong>particuliers</strong>
                        (même si certains vide-greniers autorisent les brocanteurs). Il s’agit d’une vente au déballage
                        où les particuliers
                        vendent les objets dont ils n’ont plus l’utilité. Vous y trouverez de tout : vêtements, livres,
                        jeux vidéo, jouets,
                        bandes dessinées, objets de décoration, matériel de puériculture… Les vide-greniers sont souvent
                        des événements festifs aux prix très abordables.
                        Vous y trouverez bien sûr des objets de valeur mais aussi beaucoup d’objets à 1, 2 ou 5 euros !
                    </p>

                    <p>
                        Si vous souhaitez participer à un vide-greniers, n’hésitez pas à lire nos articles :
                    </p>

                    <a href="{{ path('comment_brocante') }}" target="_blank">
                        Comment organiser un vide-greniers ou une brocante ?
                    </a>

                    <p>
                        <a href="{{ path('loi_brocantes') }}" target="_blank">
                            Exposer lors d’un vide-greniers : ce que dit la loi
                        </a>
                    </p>
                </div>
            </div>

            <br/>

            <div class="cm_m_title">
                <div class="cm_m_title">
                    <h3>3. Salon d’antiquaire </h3>
                </div>

                <div class="cm_m_content">
                    <p>
                        A la différence du brocanteur, l’antiquaire vend généralement des meubles, des objets d’art ou
                        des livres datant de <strong>plus d’un siècle</strong>.
                        Certains antiquaires ont leur propre boutique mais peuvent participer à de grands événements
                        ponctuels
                        comme la <a href="https://www.labiennaleparis.com/" target="_blank">Biennale des antiquaires</a>
                        ou la <strong>Foire de Chatou</strong>.
                    </p>

                    <p>
                        Beaucoup d’antiquaires se spécialisent et proposent des meubles de style Empire, Directoire ou
                        Louis XVI par exemple.
                        Ils ont l’obligation de garantir l’authenticité des biens qu’ils proposent à la vente.
                    </p>
                </div>
            </div>

            <br/>

            <div class="cm_m_title">
                <div class="cm_m_title">
                    <h3>4. Réderie</h3>
                </div>

                <div class="cm_m_content">
                    <p>
                        On parle de réderie dans le département de la Somme (80),
                        avec la célèbre <a href="http://www.grande-rederie-amiens.com/" target="_blank">Réderie
                            d’Amiens</a> qui accueille chaque
                        année plus de 2 000 exposants et près de 100 000 visiteurs.
                    </p>

                    <p>
                        Mot à l’origine picarde, une réderie désigne une manie de collectionner.
                        Dans l’ancien français il pouvait signifier rêverie, déraison ou encore folie !
                    </p>
                </div>
            </div>

            <br/>

            <div class="cm_m_title">
                <div class="cm_m_title">
                    <h3>5. Braderie </h3>
                </div>

                <div class="cm_m_content">
                    <p>
                        Vous pouvez également chiner dans une braderie, historiquement organisée en plein air et
                        réunissant à la fois des commerçants
                        désireux de liquider leur stock et des brocanteurs. L’incontournable,
                        la sérénissime du déballage en plein air, étant bien sûr la <a
                                href="http://www.braderie-de-lille.fr/" target="_blank">Braderie de Lille</a> (59).
                    </p>
                </div>
            </div>

            <br/>

            <div class="cm_m_title">
                <div class="cm_m_title">
                    <h3>6. Foire à tout - Foire Fouilles - Bric à brac - Pucier - Marché aux puces</h3>
                </div>

                <div class="cm_m_content">
                    <p>
                        Ce sont tout bêtement des vide-greniers !
                    </p>

                    <p>
                        Si vous vous baladez en Normandie, vous les appellerez des foires à tout ou foires fouilles.
                        Dans le centre Ouest (Indre, Indre et Loire), des bric à brac et, dans le Dauphiné, (Drôme,
                        Isère) des puciers.
                    </p>

                    <p>
                        Langage imagé du siècle dernier, l’expression marché aux puces devient populaire au début du XXe
                        siècle
                        avec l’établissement plus ou moins légal dans les faubourgs de Paris (75) des Marchés aux puces
                        de Saint-Ouen et Clignancourt.
                    </p>
                </div>
            </div>

            <br/>

            <div class="cm_m_title">
                <div class="cm_m_title">
                    <h3>7. Bourses</h3>
                </div>

                <div class="cm_m_content">
                    <p>
                        Les bourses réunissent des exposants ou des collectionneurs qui vendent un même type d’objet,
                        par exemple
                        les bourses aux vêtements ou les bourses aux jouets.
                        Très souvent ces événements se déroulent sur trois jours : un jour pour déposer les articles, un
                        jour pour
                        la vente et un dernier pour la restitution des invendus. L’occasion de faire don de ces invendus
                        à des associations caritatives.
                    </p>
                </div>
            </div>

            <br/>

            <div class="cm_m_title">
                <div class="cm_m_title">
                    <h3>8. Grafiterias </h3>
                </div>

                <div class="cm_m_content">
                    <p>
                        Avec le développement des idées alternatives, le principe du don s’est fortement développé avec
                        les grafiterias.
                        Néologisme espagnol, le mot grafiteria pourrait être traduit par « foire gratuite ». Consommer
                        autrement et redonner vie
                        à un objet dit « usagé » tel est le leitmotiv de ces événements. Les visiteurs peuvent prendre
                        ce qu’ils désirent
                        sans contrepartie ou en le troquant contre un autre objet.
                    </p>
                </div>
            </div>

            <br/>

            <p class="cm_end_block">
                Brocante, vide-greniers ou grafiterias, tous les weekends vous trouverez votre bonheur.
                Vous découvrirez alors le plaisir simple d’acheter un objet du passé qui, en plus de sa valeur
                sentimentale, a une valeur écologique. La planète vous dit merci !
            </p>
        </div>
    </div>
{% endblock %}
