{% extends '_base.html.twig' %}

{% block body %}
    <div class="help_page">
        <div class="cm_banner">
            <span class="title1">
                <h6>Conseils & Astuces</h6>
            </span>

            <span class="title2">
                <h2>Exposer lors d’un vide-greniers : ce que dit la loi</h2>
            </span>
        </div>

        <br/>

        <div class="cm_supp_infos">
            <p>Comme beaucoup de chineurs compulsifs, vous avez accumulé au fil des années un véritable trésor. Mais
                voilà, votre passion déborde, et vos placards
                aussi ! Vous décidez alors de participer à un vide-greniers pour vous séparer, non sans mal, de certains
                de ces objets. Mais que dit la loi ?
                Quel est le cadre légal fixé pour ces ventes qui peuvent parfois être lucratives ?
            </p>
        </div>

        <div class="cm_content">
            <div class="cm_m_title">
                <h3>1. A combien de vide-greniers puis-je participer ?</h3>
            </div>

            <div class="cm_m_content">
                <p>
                    Un particulier a le droit de participer à <strong>2 ventes au déballage par an</strong>. Il ne faut
                    pas être inscrit au registre du commerce et des sociétés.<br/>
                    Cette disposition s’applique également si vous faites un vide-maison. En d’autres termes : vous avez
                    le droit de vider votre maison seulement 2 jours par année civile.
                </p>
            </div>

            <div class="cm_m_title">
                <div class="cm_m_title">
                    <h3>2. Que puis-je vendre dans un vide-greniers ?</h3>
                </div>

                <div class="cm_m_content">
                    <p>
                        Vous êtes autorisé à vendre vos objets personnels et de seconde vie. Vous n’avez donc pas le
                        droit de vendre des objets neufs. Évidemment si vous vendez le
                        dernier cadeau de noël de votre belle-mère encore sous plastique, il y a peu de chance que vous
                        soyez inquiété.
                        Cependant si vous avez un grand stock d’une même catégorie de produits, vous pourrez être
                        contrôlé et sanctionné.
                    </p>

                    <p>
                        A noter qu’une pièce de collection, si elle est ancienne, même sous plastique et non ouverte
                        (voiture miniature par exemple), n’est pas considérée comme neuve.
                    </p>
                </div>
            </div>

            <br/>

            <div class="cm_m_title">
                <div class="cm_m_title">
                    <h3>3. Puis-je vendre de l’alimentaire dans un vide-greniers ?</h3>
                </div>

                <div class="cm_m_content">
                    <p>
                        Si vous êtes un particulier, non inscrit au registre du commerce et des sociétés, vous ne pouvez
                        malheureusement pas faire commerce de vos sublimes hot-dog…
                    </p>

                    <p>
                        Seuls les professionnels de l’alimentaire inscrits comme tels sont autorisés lors des ventes au
                        déballage.
                    </p>
                </div>
            </div>

            <br/>

            <div class="cm_m_title">
                <div class="cm_m_title">
                    <h3>4. Peut-on vendre des armes dans un vide-greniers ?</h3>
                </div>

                <div class="cm_m_content">
                    <p>
                        Non. Il est interdit de vendre des armes ou des munitions lors d’un vide-greniers.
                        L’interdiction est également valable pour les armes blanches. Seules les armes manifestement
                        rendues inoffensives peuvent être acceptées avec l’accord de l’organisateur.
                    </p>

                    <p>
                        Si vous souhaitez vendre une arme, il existe des bourses spécialisées soumises à une
                        réglementation précise et à des contrôles stricts.
                    </p>
                </div>
            </div>

            <br/>

            <div class="cm_m_title">
                <div class="cm_m_title">
                    <h3>5. Peut-on vendre des animaux dans un vide-greniers ?</h3>
                </div>

                <div class="cm_m_content">
                    <p>
                        Non. Les ventes d’animaux sont encadrées par la loi et donc interdites lors des vide-greniers.
                        Cependant, rien ne vous empêche de vendre votre chouette empaillée…
                    </p>
                </div>
            </div>

            <br/>

            <div class="cm_m_title">
                <div class="cm_m_title">
                    <h3>6. Peut-on vendre des objets de contrefaçon dans un vide-greniers ?</h3>
                </div>

                <div class="cm_m_content">
                    <p>
                        Non, la vente et l’achat de contrefaçon sont strictement interdit.
                        Le recel de contrefaçon est puni de cinq ans d’emprisonnement maximum et 375 000 euros d’amende.
                        Si vous possédez un sac contrefait, acheté sur le marché de Vintimille, mieux vaut ne pas tenter
                        de le revendre !
                    </p>
                </div>
            </div>

            <br/>

            <div class="cm_m_title">
                <div class="cm_m_title">
                    <h3>7. Puis-je exposer dans une commune où je ne réside pas ?</h3>
                </div>

                <div class="cm_m_content">
                    <p>
                        Oui. Vous avez le droit de participer à la vente au déballage que vous souhaitez sans
                        distinction géographique. Cependant attention vous ne pouvez en faire que 2 dans l’année !
                    </p>
                </div>
            </div>

            <br/>

            <div class="cm_m_title">
                <div class="cm_m_title">
                    <h3>8. Quelles sont les obligations à remplir pour participer à un vide-greniers ?</h3>
                </div>

                <br/>

                <div class="cm_m_content">
                    <span class="mini_title">
                        <h4>Si vous êtes un particulier :</h4>
                    </span>

                    <p>
                        Les participants non professionnels ont l’obligation de fournir une déclaration sur l’honneur de
                        non-participation
                        à plus de 2 ventes au déballage dans l’année civile. Cette déclaration est à remettre à
                        l’organisateur de l’événement.
                        Généralement un exemplaire pré-rempli vous est donné par l’organisateur au moment de
                        l’inscription. Celui-ci doit tenir un
                        registre des exposants présents lors de son événement.
                    </p>

                    <p>
                        Il vous demandera également une photocopie de votre pièce d’identité et une photocopie de la
                        carte grise de votre véhicule si celui-ci se trouve sur le lieu de la manifestation.
                    </p>

                    <p>
                        L’organisateur dépose ensuite le registre des exposants en préfecture et en sous-préfecture
                        après paraphe de la mairie concernée.
                    </p>

                    <span class="mini_title">
                        <h4>Si vous êtes un professionnel :</h4>
                    </span>

                    <p>
                        Si vous êtes un professionnel, vous devez transmettre à l’organisateur votre dénomination
                        sociale, votre adresse, ainsi qu’une pièce d’identité du représentant légal.
                    </p>

                    <p>
                        Vous devez avoir déclaré votre activité de vente d’objets mobiliers usagers en préfecture ou en
                        sous-préfecture.
                    </p>

                    <p>
                        Enfin, pendant l’événement, vous devez tenir un registre d’inventaire où sont consignés vos
                        objets en stock, vos objets
                        vendus ainsi que leur provenance (nature de l’objet, caractéristique, provenance d’achat, mode
                        de règlement).
                    </p>
                </div>
            </div>

            <br/>

            <div class="cm_m_title">
                <div class="cm_m_title">
                    <h3>
                        9. Ai-je le droit de refuser de signer l’attestation ou de ne pas fournir de pièce d’identité ?
                    </h3>
                </div>

                <div class="cm_m_content">
                    <p>
                        Non. Vous devez respecter la loi. Si vous ne fournissez pas à l’organisateur de l’événement
                        votre attestation et votre pièce d’identité, il a le droit de vous refuser l’accès au
                        déballage.
                    </p>
                </div>
            </div>

            <br/>

            <div class="cm_m_title">
                <div class="cm_m_title">
                    <h3>10. Quelle est la sanction en cas de fausse déclaration sur l’honneur ?</h3>
                </div>

                <div class="cm_m_content">
                    <p>
                        La signature d'une fausse attestation sur l'honneur est une infraction. Selon l’article 441-1
                        vous pouvez être sanctionné d’une peine pouvant aller jusqu'à 3 ans d'emprisonnement et 45 000 €
                        d'amende.
                    </p>
                </div>
            </div>

            <br/>

            <div class="cm_m_title">
                <div class="cm_m_title">
                    <h3>11. Suis-je considéré comme professionnel si j’ai le statut d’auto-entrepreneur ?</h3>
                </div>

                <div class="cm_m_content">
                    <p>
                        Oui. Vous devez vous conformer aux mêmes dispositions que les professionnels (même s’il s’agit
                        d’une activité
                        complémentaire à votre activité principale). En conséquence, vous devez également tenir un
                        registre de vos articles.
                        Vous pouvez être verbalisé si vous ne le présentez pas lors d’un contrôle.
                    </p>
                </div>
            </div>

            <br/>

            <div class="cm_m_title">
                <div class="cm_m_title">
                    <h3>12. L’organisateur peut-il refuser ma participation à un vide-greniers ?</h3>
                </div>

                <div class="cm_m_content">
                    <p>

                        Oui. Chaque manifestation a un règlement qui stipule les conditions de
                        participation. Si vous ne les remplissez pas ou si le vide-greniers est complet, l’organisateur
                        a le droit de vous refuser le droit de déballer.
                    </p>
                </div>
            </div>

            <br/>

            <div class="cm_m_title">
                <div class="cm_m_title">
                    <h3>13. Quelles sont les sanctions si l’on participe à plus de 2 vide-greniers par an ?</h3>
                </div>

                <div class="cm_m_content">
                    <p>
                        Vous pouvez être verbalisé d’une amende de catégorie 5, pouvant atteindre 1 500 € et 3 000 € en
                        cas de récidive. (Article R310-19 et Article 131-13)
                    </p>

                    <p>
                        Par ailleurs selon la fréquence de vos ventes, vous pouvez être requalifié en professionnel
                        (Article L121-1).
                        Ainsi on peut vous demander de vous acquitter de l’ensemble des obligations administratives,
                        sociales et fiscales d’un professionnel de la vente d’objets mobiliers usagers.
                    </p>

                    <p>
                        Les risques encourus sont importants : 6 mois de prison et 30 000 € d’amende (Article 321-7).
                    </p>
                </div>
            </div>

            <br/>

            <div class="cm_m_title">
                <div class="cm_m_title">
                    <h3>14. Quelles sont les obligations à remplir pour organiser un vide-maison ?</h3>
                </div>

                <div class="cm_m_content">
                    <p>
                        Comme pour un vide-greniers, vous devez déclarer votre événement en mairie à l’aide d’une <a
                                href="https://www.service-public.fr/associations/vosdroits/R18906" target="_blank">Déclaration
                            préalable d'une vente au déballage</a> (Cerfa n°13939*01).
                    </p>

                    <p>
                        Vous pouvez envoyer cette déclaration soit par lettre recommandée avec accusé de réception, soit
                        la déposer directement en mairie
                        contre récépissé accusant réception. Cette étape est obligatoire, et si vous ne la remplissez
                        pas vous vous exposez à une amende de 15 000 €.
                    </p>

                    <p>
                        Par ailleurs, si vous déballez une partie de votre maison sur la voie publique, vous devez
                        également
                        faire une <a href="https://www.service-public.fr/associations/vosdroits/R2237" target="_blank">demande
                            d’occupation temporaire du domaine public</a>. Cette demande doit être déposée en mairie au
                        moins 3 jours ouvrés avant l’événement.
                    </p>
                </div>
            </div>

            <br/>

            <div class="cm_m_title">
                <div class="cm_m_title">
                    <h3>
                        15. Peut-on être remboursé du prix de l’emplacement si on ne participe pas au vide-greniers ?
                    </h3>
                </div>

                <div class="cm_m_content">
                    <p>
                        Cela dépend du règlement du vide-greniers. Pour éviter toute surprise, demandez toujours à lire
                        le règlement avant de vous inscrire.
                    </p>
                </div>
            </div>

            <br/>
        </div>
    </div>
{% endblock %}
